# Filter Data

In [2]:
import pandas as pd
data = pd.read_csv('./data/artwork_data.csv', low_memory=False)

In [3]:
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [4]:
# Filtering data
data.filter(items=['id', 'artist'])

           id              artist
0        1035       Blake, Robert
1        1036       Blake, Robert
2        1037       Blake, Robert
3        1038       Blake, Robert
4        1039      Blake, William
...       ...                 ...
69196  122960  P-Orridge, Genesis
69197  122961  P-Orridge, Genesis
69198  121181        Hatoum, Mona
69199  112306       Creed, Martin
69200  127035   Brunias, Agostino

[69201 rows x 2 columns]

In [7]:
# Any column which has word "year" in its header name
# like param is case sensitive by default
data.filter(like="year")

       year
0       NaN
1       NaN
2      1785
3       NaN
4      1826
...     ...
69196  1975
69197  1976
69198  1996
69199  2000
69200  1764

[69201 rows x 1 columns]

In [8]:
data.filter(like="artist")

                   artist artistRole  artistId
0           Blake, Robert     artist        38
1           Blake, Robert     artist        38
2           Blake, Robert     artist        38
3           Blake, Robert     artist        38
4          Blake, William     artist        39
...                   ...        ...       ...
69196  P-Orridge, Genesis     artist     16646
69197  P-Orridge, Genesis     artist     16646
69198        Hatoum, Mona     artist      2365
69199       Creed, Martin     artist      2760
69200   Brunias, Agostino     artist      3824

[69201 rows x 3 columns]

In [9]:
# Case insensitive year by using regex
data.filter(regex="(?i)year")

       year  acquisitionYear
0       NaN           1922.0
1       NaN           1922.0
2      1785           1922.0
3       NaN           1922.0
4      1826           1919.0
...     ...              ...
69196  1975           2013.0
69197  1976           2013.0
69198  1996           2013.0
69199  2000           2013.0
69200  1764           2013.0

[69201 rows x 2 columns]

In [14]:
data.filter(regex="year|Year")

       year  acquisitionYear
0       NaN           1922.0
1       NaN           1922.0
2      1785           1922.0
3       NaN           1922.0
4      1826           1919.0
...     ...              ...
69196  1975           2013.0
69197  1976           2013.0
69198  1996           2013.0
69199  2000           2013.0
69200  1764           2013.0

[69201 rows x 2 columns]

In [15]:
data.filter(axis=0, regex="^100.$")

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
1000,14704,A01004,"Turner, Joseph Mallord William",artist,558,Hedging and Ditching,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 184 x 259 mm,184,259,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-hed...
1001,14705,A01005,"Turner, Joseph Mallord William",artist,558,"Hedging and Ditching, engraved by J.C. Easling",1812,Etching and mezzotint on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 186 x 262 mm,186,262,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-hed...
1002,14706,A01006,"Turner, Joseph Mallord William",artist,558,River Wye,1812,Print on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 183 x 264 mm,183,264,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...
1003,14707,A01007,"Turner, Joseph Mallord William",artist,558,"River Wye, engraved by W. Annis",1812,Etching and mezzotint on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 184 x 265 mm,184,265,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...
1004,14708,A01008,"Turner, Joseph Mallord William",artist,558,Chain of Alps from Grenoble to Chamberi,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 259 mm,178,259,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-cha...
1005,14709,A01009,"Turner, Joseph Mallord William",artist,558,"Chain of Alps from Grenoble to Chamberi, engra...",1812,Etching and mezzotint on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 261 mm,178,261,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-cha...
1006,14710,A01010,"Turner, Joseph Mallord William",artist,558,Mer de Glace,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 253 mm,178,253,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-mer...
1007,14711,A01011,"Turner, Joseph Mallord William",artist,558,Mer de Glace,1812,Etching and mezzotint on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 179 x 257 mm,179,257,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-mer...
1008,14712,A01012,"Turner, Joseph Mallord William",artist,558,"Rivaux Abbey, Yorkshire",1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 182 x 265 mm,182,265,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...
1009,14713,A01013,"Turner, Joseph Mallord William",artist,558,"Rivaux Abbey, engraved by Henry Dawe",1812,Etching and mezzotint on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 183 x 266 mm,183,266,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...

In [17]:
# axis=0 means regex will apply on index of rows
data.filter(axis=0, regex="^100(0|2|4|6|8)$")

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
1000,14704,A01004,"Turner, Joseph Mallord William",artist,558,Hedging and Ditching,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 184 x 259 mm,184,259,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-hed...
1002,14706,A01006,"Turner, Joseph Mallord William",artist,558,River Wye,1812,Print on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 183 x 264 mm,183,264,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...
1004,14708,A01008,"Turner, Joseph Mallord William",artist,558,Chain of Alps from Grenoble to Chamberi,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 259 mm,178,259,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-cha...
1006,14710,A01010,"Turner, Joseph Mallord William",artist,558,Mer de Glace,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 253 mm,178,253,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-mer...
1008,14712,A01012,"Turner, Joseph Mallord William",artist,558,"Rivaux Abbey, Yorkshire",1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 182 x 265 mm,182,265,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...