# Indexing and filtering data

In [1]:
import pandas as pd
data= pd.read_csv('./data/artwork_sample.csv')

In [2]:
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394.0,419.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311.0,213.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343.0,467.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 318 x 394 mm,318.0,394.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 335 mm,243.0,335.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [3]:
data['id']

0    1035
1    1036
2    1037
3    1038
4    1039
5    1040
6    1041
7    1042
8    1043
9    1044
Name: id, dtype: int64

In [4]:
data['id'][1]

1036

In [5]:
data[['id', 'title']]

     id                                              title
0  1035  A Figure Bowing before a Seated Old Man with h...
1  1036  Two Drawings of Frightened Figures, Probably f...
2  1037  The Preaching of Warning. Verso: An Old Man En...
3  1038     Six Drawings of Figures with Outstretched Arms
4  1039  The Circle of the Lustful: Francesca da Rimini...
5  1040      Ciampolo the Barrator Tormented by the Devils
6  1041                        The Baffled Devils Fighting
7  1042  The Six-Footed Serpent Attacking Agnolo Brunel...
8  1043                 The Serpent Attacking Buoso Donati
9  1044                 The Pit of Disease: The Falsifiers

In [6]:
data[['artist', 'title']]

           artist                                              title
0   Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1   Blake, Robert  Two Drawings of Frightened Figures, Probably f...
2   Blake, Robert  The Preaching of Warning. Verso: An Old Man En...
3   Blake, Robert     Six Drawings of Figures with Outstretched Arms
4  Blake, William  The Circle of the Lustful: Francesca da Rimini...
5  Blake, William      Ciampolo the Barrator Tormented by the Devils
6  Blake, William                        The Baffled Devils Fighting
7  Blake, William  The Six-Footed Serpent Attacking Agnolo Brunel...
8  Blake, William                 The Serpent Attacking Buoso Donati
9  Blake, William                 The Pit of Disease: The Falsifiers

In [8]:
data[['artist', 'title']]['artist']

0     Blake, Robert
1     Blake, Robert
2     Blake, Robert
3     Blake, Robert
4    Blake, William
5    Blake, William
6    Blake, William
7    Blake, William
8    Blake, William
9    Blake, William
Name: artist, dtype: object

In [9]:
data[['artist', 'title']]['artist'][0]

'Blake, Robert'

In [10]:
# Accessing direct row index not allowed in DataFrame
data[1]

KeyError: 1

In [11]:
# But we can access by range
data[1:2]

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311.0,213.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...

In [13]:
# range uses integer position of the rows, but not the row label
# in this dataset, both are same, but it might not be the case every time.
data[1:5]

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311.0,213.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343.0,467.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 318 x 394 mm,318.0,394.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 335 mm,243.0,335.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [14]:
data[1:5]['artist']

1     Blake, Robert
2     Blake, Robert
3     Blake, Robert
4    Blake, William
Name: artist, dtype: object

In [16]:
# every row of data where year is > 1800 -> then year series
data[data['year'] > 1800]['year']

4    1826.0
5    1826.0
6    1826.0
7    1826.0
8    1826.0
9    1826.0
Name: year, dtype: float64

# Using .loc() method

In [17]:
# data.loc[ROWS, COLS]

In [18]:
# 0th row
data.loc[0]

id                                                                 1035
accession_number                                                 A00001
artist                                                    Blake, Robert
artistRole                                                       artist
artistId                                                             38
title                 A Figure Bowing before a Seated Old Man with h...
dateText                                                 date not known
medium                Watercolour, ink, chalk and graphite on paper....
creditLine                          Presented by Mrs John Richmond 1922
year                                                                NaN
acquisitionYear                                                    1922
dimensions                                        support: 394 x 419 mm
width                                                             394.0
height                                                            419.0
depth                                                               NaN
units                                                                mm
inscription                                                         NaN
thumbnailCopyright                                                  NaN
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-a-fi...
Name: 0, dtype: object

In [19]:
# 0th row and all columns
data.loc[0, :]

id                                                                 1035
accession_number                                                 A00001
artist                                                    Blake, Robert
artistRole                                                       artist
artistId                                                             38
title                 A Figure Bowing before a Seated Old Man with h...
dateText                                                 date not known
medium                Watercolour, ink, chalk and graphite on paper....
creditLine                          Presented by Mrs John Richmond 1922
year                                                                NaN
acquisitionYear                                                    1922
dimensions                                        support: 394 x 419 mm
width                                                             394.0
height                                                            419.0
depth                                                               NaN
units                                                                mm
inscription                                                         NaN
thumbnailCopyright                                                  NaN
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-a-fi...
Name: 0, dtype: object

In [22]:
# 0th row and specific columns
data.loc[0:, ['title']]

                                               title
0  A Figure Bowing before a Seated Old Man with h...
1  Two Drawings of Frightened Figures, Probably f...
2  The Preaching of Warning. Verso: An Old Man En...
3     Six Drawings of Figures with Outstretched Arms
4  The Circle of the Lustful: Francesca da Rimini...
5      Ciampolo the Barrator Tormented by the Devils
6                        The Baffled Devils Fighting
7  The Six-Footed Serpent Attacking Agnolo Brunel...
8                 The Serpent Attacking Buoso Donati
9                 The Pit of Disease: The Falsifiers

In [25]:
# specific conditions and specific columns
data.loc[data['year']>1800, ['title', 'year']]

                                               title    year
4  The Circle of the Lustful: Francesca da Rimini...  1826.0
5      Ciampolo the Barrator Tormented by the Devils  1826.0
6                        The Baffled Devils Fighting  1826.0
7  The Six-Footed Serpent Attacking Agnolo Brunel...  1826.0
8                 The Serpent Attacking Buoso Donati  1826.0
9                 The Pit of Disease: The Falsifiers  1826.0

In [26]:
# specific row labels (only where row label is 0 and 5). Its label NOT POSITION
data.loc[[1,5], ['title', 'year']]

                                               title    year
1  Two Drawings of Frightened Figures, Probably f...     NaN
5      Ciampolo the Barrator Tormented by the Devils  1826.0

In [27]:
# specific rows and range of columns
data.loc[[1,5], 'id': 'artistId']

     id accession_number          artist artistRole  artistId
1  1036           A00002   Blake, Robert     artist        38
5  1040           A00006  Blake, William     artist        39

In [29]:
data.loc[data['artist'] == 'Blake, Robert', 'id':'artistId']

     id accession_number         artist artistRole  artistId
0  1035           A00001  Blake, Robert     artist        38
1  1036           A00002  Blake, Robert     artist        38
2  1037           A00003  Blake, Robert     artist        38
3  1038           A00004  Blake, Robert     artist        38

# Using iloc()

In [31]:
# iloc uses integer positions of the rows and columns instead of labels
data.iloc[0, :]

id                                                                 1035
accession_number                                                 A00001
artist                                                    Blake, Robert
artistRole                                                       artist
artistId                                                             38
title                 A Figure Bowing before a Seated Old Man with h...
dateText                                                 date not known
medium                Watercolour, ink, chalk and graphite on paper....
creditLine                          Presented by Mrs John Richmond 1922
year                                                                NaN
acquisitionYear                                                    1922
dimensions                                        support: 394 x 419 mm
width                                                             394.0
height                                                            419.0
depth                                                               NaN
units                                                                mm
inscription                                                         NaN
thumbnailCopyright                                                  NaN
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-a-fi...
Name: 0, dtype: object

In [36]:
# since it uses integer positions on rows and columns, we can specify
# column integer range as well
data.iloc[0:3, 0:5]

     id accession_number         artist artistRole  artistId
0  1035           A00001  Blake, Robert     artist        38
1  1036           A00002  Blake, Robert     artist        38
2  1037           A00003  Blake, Robert     artist        38

In [37]:
df = data.copy()
# To avoid confusion, lets set the index as id
df.set_index('id', inplace=True)

In [38]:
# returns rows because these integers are position numbers
df.iloc[0:3, 0:5]

,accession_number,artist,artistRole,artistId,title
id,,,,,
1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...
1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f..."
1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...

In [39]:
# returns nothing, because now the df does not contain 0-3 labels in index
# instead now index contains 1035 type of numbers
df.loc[0:3, :]

Empty DataFrame
Columns: [accession_number, artist, artistRole, artistId, title, dateText, medium, creditLine, year, acquisitionYear, dimensions, width, height, depth, units, inscription, thumbnailCopyright, thumbnailUrl, url]
Index: []

In [40]:
df.loc[1035:1037, :]

,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
id,,,,,,,,,,,,,,,,,,,
1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394.0,419.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311.0,213.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343.0,467.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [41]:
# now id is index, so column 0 is accession_number and 2 is artistRole, 3rd is exclusive in indexing
df.iloc[0:3, 0:3]

     accession_number         artist artistRole
id
1035           A00001  Blake, Robert     artist
1036           A00002  Blake, Robert     artist
1037           A00003  Blake, Robert     artist

In [42]:
#lets reset the index to check it
df.reset_index(inplace=True)

In [43]:
# now as the index has been reset, so 0 column becomes the id, and 3 becomes the artistRole which is exclusive
# and we are getting 0,1, and 2 index i.e. id, accession_number, and artist
df.iloc[0:3, 0:3]

     id accession_number         artist
0  1035           A00001  Blake, Robert
1  1036           A00002  Blake, Robert
2  1037           A00003  Blake, Robert

In [44]:
# QUESTION: 5, 8 should return row number 4,7, why it is returning 5,8
# while columns are returning correct index
df.iloc[[5,8], [0, 2]]

     id          artist
5  1040  Blake, William
8  1043  Blake, William

In [48]:
df.iloc[0:8, [0, 2]]

     id          artist
0  1035   Blake, Robert
1  1036   Blake, Robert
2  1037   Blake, Robert
3  1038   Blake, Robert
4  1039  Blake, William
5  1040  Blake, William
6  1041  Blake, William
7  1042  Blake, William

In [ ]:
df.iloc[5:8, [0, 2]]

# Filtering Data

### str.contains

In [49]:
data = pd.read_csv('./data/artwork_sample.csv')
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394.0,419.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311.0,213.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343.0,467.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 318 x 394 mm,318.0,394.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 335 mm,243.0,335.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [50]:
data.medium

0    Watercolour, ink, chalk and graphite on paper....
1                                    Graphite on paper
2          Graphite on paper. Verso: graphite on paper
3                                    Graphite on paper
4                              Line engraving on paper
5                              Line engraving on paper
6                              Line engraving on paper
7                              Line engraving on paper
8                              Line engraving on paper
9                              Line engraving on paper
Name: medium, dtype: object

In [51]:
type(data.medium)

pandas.core.series.Series

In [53]:
data.medium.str

In [60]:
data.medium.str.contains('Graphite')

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
9    False
Name: medium, dtype: bool

In [58]:
# data.medium.str.lower().contains('graphite')
data.medium.str.lower().str.contains('graphite')

0     True
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
9    False
Name: medium, dtype: bool

In [62]:
data.loc[data.medium.str.contains('Graphite'), ['artist', 'medium']]

          artist                                       medium
1  Blake, Robert                            Graphite on paper
2  Blake, Robert  Graphite on paper. Verso: graphite on paper
3  Blake, Robert                            Graphite on paper

In [63]:
data

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394.0,419.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311.0,213.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343.0,467.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 318 x 394 mm,318.0,394.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 335 mm,243.0,335.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
5,1040,A00006,"Blake, William",artist,39,Ciampolo the Barrator Tormented by the Devils,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 240 x 338 mm,240.0,338.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-ciam...
6,1041,A00007,"Blake, William",artist,39,The Baffled Devils Fighting,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 242 x 334 mm,242.0,334.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
7,1042,A00008,"Blake, William",artist,39,The Six-Footed Serpent Attacking Agnolo Brunel...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 246 x 340 mm,246.0,340.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
8,1043,A00009,"Blake, William",artist,39,The Serpent Attacking Buoso Donati,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 241 x 335 mm,241.0,335.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
9,1044,A00010,"Blake, William",artist,39,The Pit of Disease: The Falsifiers,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 340 mm,243.0,340.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [64]:
data.loc[data.medium.str.contains('Graphite', case=False), ['artist', 'medium']]

          artist                                             medium
0  Blake, Robert  Watercolour, ink, chalk and graphite on paper....
1  Blake, Robert                                  Graphite on paper
2  Blake, Robert        Graphite on paper. Verso: graphite on paper
3  Blake, Robert                                  Graphite on paper

In [66]:
data.loc[data.medium.str.contains('(?i)Graphite', regex=True) | data.medium.str.contains('(?i)Line', regex=True), ['artist', 'medium']]

           artist                                             medium
0   Blake, Robert  Watercolour, ink, chalk and graphite on paper....
1   Blake, Robert                                  Graphite on paper
2   Blake, Robert        Graphite on paper. Verso: graphite on paper
3   Blake, Robert                                  Graphite on paper
4  Blake, William                            Line engraving on paper
5  Blake, William                            Line engraving on paper
6  Blake, William                            Line engraving on paper
7  Blake, William                            Line engraving on paper
8  Blake, William                            Line engraving on paper
9  Blake, William                            Line engraving on paper

In [67]:
data.loc[data.medium.str.contains('graphite|line', case=False, regex=True), ['artist', 'medium', 'title']]

,artist,medium,title
0,"Blake, Robert","Watercolour, ink, chalk and graphite on paper....",A Figure Bowing before a Seated Old Man with h...
1,"Blake, Robert",Graphite on paper,"Two Drawings of Frightened Figures, Probably f..."
2,"Blake, Robert",Graphite on paper. Verso: graphite on paper,The Preaching of Warning. Verso: An Old Man En...
3,"Blake, Robert",Graphite on paper,Six Drawings of Figures with Outstretched Arms
4,"Blake, William",Line engraving on paper,The Circle of the Lustful: Francesca da Rimini...
5,"Blake, William",Line engraving on paper,Ciampolo the Barrator Tormented by the Devils
6,"Blake, William",Line engraving on paper,The Baffled Devils Fighting
7,"Blake, William",Line engraving on paper,The Six-Footed Serpent Attacking Agnolo Brunel...
8,"Blake, William",Line engraving on paper,The Serpent Attacking Buoso Donati
9,"Blake, William",Line engraving on paper,The Pit of Disease: The Falsifiers

In [68]:
data.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                  float64
acquisitionYear         int64
dimensions             object
width                 float64
height                float64
depth                 float64
units                  object
inscription           float64
thumbnailCopyright    float64
thumbnailUrl           object
url                    object
dtype: object

In [69]:
data.year.str.contains('1826')

AttributeError: Can only use .str accessor with string values!

In [70]:
data.year.astype(str).str.contains('1826')

0    False
1    False
2    False
3    False
4     True
5     True
6     True
7     True
8     True
9     True
Name: year, dtype: bool

In [72]:
data.loc[data.year.astype(str).str.contains('1826'), ['title', 'year']]

                                               title    year
4  The Circle of the Lustful: Francesca da Rimini...  1826.0
5      Ciampolo the Barrator Tormented by the Devils  1826.0
6                        The Baffled Devils Fighting  1826.0
7  The Six-Footed Serpent Attacking Agnolo Brunel...  1826.0
8                 The Serpent Attacking Buoso Donati  1826.0
9                 The Pit of Disease: The Falsifiers  1826.0

In [73]:
data = pd.read_csv('./data/artwork_data.csv', low_memory=False)

In [74]:
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [75]:
data.loc[data.dimensions.str.contains('support')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [77]:
data.loc[data.dimensions.str.contains('support', na=False), ['title','dimensions', 'year',]]

,title,dimensions,year
0,A Figure Bowing before a Seated Old Man with h...,support: 394 x 419 mm,NaN
1,"Two Drawings of Frightened Figures, Probably f...",support: 311 x 213 mm,NaN
2,The Preaching of Warning. Verso: An Old Man En...,support: 343 x 467 mm,1785
3,Six Drawings of Figures with Outstretched Arms,support: 318 x 394 mm,NaN
32,Sketch for ‘The Four and Twenty Elders Casting...,support: 488 x 389 mm,1803
...,...,...,...
69170,Untitled,support: 560 x 762 mm,2003
69171,Untitled,support: 558 x 760 mm,2003
69172,Untitled,support: 380 x 566 mm,2004
69173,Untitled,support: 560 x 762 mm,2006
69178,Will We Ever Kill The Bug,"support, each: 438 x 330 mm",2010